DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
DJANGO_DB_NAME=django_user_service
DJANGO_DB_USER=root
DJANGO_DB_PASSWORD=change-me
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=3306
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/2
DJANGO_REDIS_CACHE_URL=redis://127.0.0.1:6379/3
